---
layout: default
title: Jamie Countryman
---

<div id="home">
  <h1>Blog Posts</h1>
  <ul class="posts">
    {% if site.posts == empty %}
      <li>No posts yet</li>
    {% else %}
      {% for post in site.posts %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    {% endif %}
  </ul>
  
  <h1>Projects</h1>
  <ul class="posts">
    <li><a href="https://market.android.com/details?id=com.jmz.pastedroidapp">Pastebin for Android</a></li>
    <li><a href="https://market.android.com/details?id=com.jmz.localeDock">Locale Dock Condition</a></li>
    <li><a href="projects/locale-lockscreen-plugin/">Locale Lockscreen Plugin</a></li>
  </ul>
</div>